/* table */
table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 25px;
    margin-bottom: 20px;
  }
  thead{
    color: #202224;
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 20.35px;
    border-radius: 25px;
  }
  th{
    padding:10px 20px;
    color: #202224;
    text-align: left;
    border-bottom: 1px solid #C7C7C7;
  }
  td {
    font-size: 1rem;
    color: #202224;
    font-weight: 400;
    border-collapse: collapse;
    line-height: 19.5px;
    padding: 10px;
    border-bottom: 1px solid #C7C7C7;
    padding: 15px 20px;
  }

  /* pagination */
  .pagination {
    width: 95%;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}
.arrow-btn{
  display: flex;
  gap: 5px;
  align-items: center;
}
.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    color: #667085;
    font-weight: 500;
    cursor: pointer;
}

.pagination button.active {
    background-color: #DFF5FF;
    color: #1E8EBE;
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

.pagination button:disabled {
    cursor: not-allowed;
}


